{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/driver_accept.css' %}">
    <title>Document</title>
</head>
<body>

    <p> This is the driver page </p>
    <p>Would you like to accept this ride </p>
    <form method="post" action="driver_accept">
        {% csrf_token %}
        <select name="choice" id="choice" multiple>
            <option value="yes">yes</option>
            <option value="no">no</option>
            
        </select>
        <input type="submit">
    </form>
</body>
</html>