{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to our application ULA cabs</h1>
    <table>
        <tr>
            <td>

                <a href="login">Click here for customer login!</a>
                
            </td>
            <td>
                <a href="register">Click here for customer register!</a>
            </td>
        </tr>

        <tr>
            <td>

                <a href="driverlogin">Click here for driver login!</a>
                
            </td>
            <td>
                <a href="registerdrive">Click here for driver register!</a>
            </td>
        </tr>


    </table>
    
       
    
</body>
</html>

