body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0077B5;
}